
.shadow{
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    
}
.shadow-right{
    box-shadow:inset -70px 0px 70px #102b3f; 
}
.shadow-left{
    box-shadow:inset 40px -40px 100px #102b3f; 
}
.chart{
    position: relative;
}
#simulation{
  display:flex;
  justify-content: center;
  margin-top:20px;
  margin-bottom:20px;
  height:425px;
  overflow:hidden;
  align-items:end;
}
iframe .nav{
  display:none;
}
input{
    width:100%;
    transition:1s;
    padding-right:20px;
    padding-left:20px;
}

.properties-input{
  margin-top:20px;
  margin-bottom:20px;
    display:flex;
    white-space: nowrap;
}
#charts{
  margin-top:20px;
  margin-bottom:20px;
}
.input-label{
    padding-right:10px;
}

input[type=range] {
  width: 100%;
  margin: 2.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #e2cfea;
  border: 0.2px solid #e2cfea;
  border-radius: 1.3px;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -2.7px;
  width: 38px;
  height: 5px;
  background: #e2cfea;
  border: 1px solid #e2cfea;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ede1f2;
}
input[type=range]::-moz-range-track {
  background: #e2cfea;
  border: 0.2px solid #e2cfea;
  border-radius: 1.3px;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 38px;
  height: 5px;
  background: #e2cfea;
  border: 1px solid #e2cfea;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 3.5px 0;
  color: transparent;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #d7bde2;
  border: 0.2px solid #e2cfea;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #e2cfea;
  border: 0.2px solid #e2cfea;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 38px;
  height: 5px;
  background: #e2cfea;
  border: 1px solid #e2cfea;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #e2cfea;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ede1f2;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
