#main-content{
    height:100%;
    display:flex;
    justify-content: center;
    padding-top:30px;
}
#description{
    max-width: 40%;
    min-height:100vh;
    font-size:40px;
    }
    @media screen and (max-width: 500px) {
        #description{
            max-width: 90%;
    
        }
      }
#desc-text{
   
}

